#chatContainer {
    background-color:#08538c;
    color:white;
    padding:20px;
    height:600px;
    margin-top:10px;
    border-style:groove;

    .messages {
        background-color:white;
        border-style:groove;
        border-color:#08538c;
        border-radius:10px;
        color:black;
        font-style:italic;
        text-decoration:bold;
        margin-bottom:10px;
        max-height:270px;
        overflow-y:scroll;
    }
}