#logoutMessage {
    background-color:#551a8b;
    height:60px;
    font-size:2em;
    -moz-animation-name: fadeIn;
    -webkit-animation-name: fadeIn;
    -ms-animation-name: fadeIn;
    animation-name: fadeIn;
    -moz-animation-duration: 1s;
    -webkit-animation-duration: 1s;
    -ms-animation-duration: 1s;
    animation-duration: 1s;
    -moz-animation-timing-function: ease-in-out;
    -webkit-animation-timing-function: ease-in-out;
    -ms-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    -moz-animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
    -ms-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

#logoutMessage.fadeOut {
    -moz-animation-name: fadeOut;
    -webkit-animation-name: fadeOut;
    -ms-animation-name: fadeOut;
    animation-name: fadeOut;
}

@-moz-keyframes fadeIn { 0% { opacity: 0; visibility: hidden; } 100% { opacity: 1; visibility: visible; }}
@-webkit-keyframes fadeIn { 0% { opacity: 0; visibility: hidden; } 100% { opacity: 1; visibility: visible; }}
@-ms-keyframes fadeIn { 0% { opacity: 0; visibility: hidden; } 100% { opacity: 1; visibility: visible; }}
@-keyframes fadeIn { 0% { opacity: 0; visibility: hidden; } 100% { opacity: 1; visibility: visible; }}

@-moz-keyframes fadeOut { 0% { opacity: 1; visibility: visible; }  100% { opacity: 0; visibility: hidden; }}
@-webkit-keyframes fadeOut { 0% { opacity: 1; visibility: visible; }  100% { opacity: 0; visibility: hidden; }}
@-ms-keyframes fadeOut { 0% { opacity: 1; visibility: visible; } 100% { opacity: 0; visibility: hidden; }}
@-keyframes fadeOut { 0% { opacity: 1; visibility: visible; } 100% { opacity: 0; visibility: hidden;  }}

.loginForm {
    width:35%;
    height:300px;
    background: rgba(8, 83, 140, 0.5);
    border-style:groove;
    border-width:1px;
    border-radius:10px;
    box-shadow:0 0 20px black;
    margin-top:200px;
    margin-left:auto;
    margin-right:auto;
    text-align:right;
    left:0;
    right:0;
    z-index: 2;

    input[type="text"], input[type="password"] {
        width:70%;
        height:50px;
        border-radius:10px;
        margin-right:auto;
        margin-left:auto;
        margin-top: 20px;
        margin-bottom: 5px;
        font-size:1.3em;
        padding-left:10px;
        background:transparent;
        border-style:groove;
        color:white;
    }

    input[type="password"] {
        width:70%;
        height:50px;
        border-radius:10px;
        margin-right:auto;
        margin-left:auto;
        margin-top: 20px;
        margin-bottom:15px;
        font-size:1.3em;
        padding-left:10px;
        background:transparent;
        border-style:groove;
        color:white;
    }

    input[type="submit"] {
        width:50%;
        height:50px;
        color:#08538c;
        border-radius:5px;
        background-color:white;
        margin-left:auto;
        margin-right:auto;
        font-size:1.3em;
    }

    input[type="text"]:hover, input[type="password"]:hover {
        border-color:yellow;
    }

    button.loginButton {
        width:50%;
        height:50px;
        color:#08538c;
        border-radius:5px;
        background-color:white;
        margin-left:auto;
        margin-right:auto;
        font-size:1.3em;
    }

    button.loginButton:hover {
        border-color:yellow;
    }
}


p.errorLogin {
    color:white;
    font-size:1.1em;
    margin-top: 15px;
    text-align:center;
}

@media screen and (max-width:989px) {
    .loginForm {
        width: 60%;
        text-align:center;
        height:320px;
    }

    input[type="text"] {
        margin-top:20px;
    }
}

@media screen and (max-width:635px) {
    #logoutMessage {
        font-size:1.5em;
        height:80px;
    }
}

@media screen and (max-width:589px) {
    .loginForm {
        width:100%;
    }
}

@media screen and (max-width:300px) {
    #logoutMessage {
        font-size:1.1em;
        height:90px;
    }
}
