.pageContent {
    display:flex;
    min-width:446px;
    width:100%;
    min-height:calc(100vh - 125px);
    height: auto;
    background: url('../../images/backgroundActive.jpg') no-repeat fixed;
    background-size: cover;

    span#ticket_container {
        width:50%;
    }

    div#numbersCalled_container{
        width: 32%;
        height:600px;
        background:rgba(85, 26, 139, 0.8);
        border-radius: 20px;
        border-style:groove;
        margin-top:10px;
    }

    div#chat_container{
        width: 32%;
    }

    .component_container {
        width: 50%;
        display:flex;
    }

    .leaderboard_RealTime {
        overflow:auto;
        height:25%;
        color: yellow;
        margin-bottom:15px;

    }
    #leaderboard_container {
        background:rgba(85, 26, 139, 0.8);
        color:yellow;
        padding:20px;
        height:600px;
        margin-top:10px;
        border-style:groove;
        border-radius:20px;
        font-size:1.5em;
        width: 32%;

        ::-webkit-scrollbar {
            width: 12px;
        }

        /* Track */
        ::-webkit-scrollbar-track {
            -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
            -webkit-border-radius: 10px;
            border-radius: 10px;
            color: yellow;
        }

        ::-webkit-scrollbar-thumb {
            -webkit-border-radius: 10px;
            border-radius: 10px;
            background: rgba(255,255,0,0.8);
            -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
        }
        ::-webkit-scrollbar-thumb:window-inactive {
            background: rgba(255,255,0,0.4);
        }

        #leaderboard_AllTime {
            //background-color:#551a8b;
            background: rgba(85, 26, 139, 0.8);
            color: yellow;
            height: 40%;
            overflow: auto;
        }
        #leaderboard_RealTime {
            //background-color:#551a8b;
            background: rgba(85, 26, 139, 0.8);
            color: yellow;
            height: 40%;
            overflow: auto;
        }

        @media screen and (max-width:775px) {
            width:100%;
        }
    }


    .row {
        width:60%;
        background:rgba(173,255,47, 0.8);
        border-radius:10px;
        box-shadow:0 0 20px black;
        border-style: groove;
        font-style: italic;

        &:hover {
          -moz-animation:bounceOut .4s linear;
          -webkit-animation:bounceOut .4s linear;
        }

        @-moz-keyframes bounceOut {
                0%{ box-shadow: 0 0 0 4px yellow; opacity:1;}
                25%{ box-shadow: 0 0 0 1px yellow; opacity:1;}
                50%{ box-shadow: 0 0 0 7px yellow; opacity:1; }
                75%{ box-shadow: 0 0 0 4px yellow; opacity:1;}
                100%{ box-shadow: 0 0 0 5px yellow; opacity:1;}
        }

        @-webkit-keyframes bounceOut {
                0%{ box-shadow: 0 0 0 4px yellow; opacity:1;}
                25%{ box-shadow: 0 0 0 1px yellow; opacity:1;}
                50%{ box-shadow: 0 0 0 7px yellow; opacity:1; }
                75%{ box-shadow: 0 0 0 4px yellow; opacity:1;}
                100%{ box-shadow: 0 0 0 5px yellow; opacity:1;}
        }

        @media screen and (max-width:1400px) {
            width:85%;
        }

        @media screen and (max-width:775px) {
            width:100%;
        }
    }

    div#bingo-button {

        .btn-secondary {
            width:50%;
            height:60px;
            border-radius:20px;
            box-shadow:0 0 100px yellow;
            background-color:#551a8b;
            background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #551a8b), color-stop(0.6, #551a8b), color-stop(0.61, #551a8b), color-stop(1, #ffffff));
            background-image: -moz-linear-gradient(center bottom, #551a8b 0%, #551a8b 60%, #551a8b 61%, #ffffff 100%);
            background-image: linear-gradient(to top, #551a8b 0%, #551a8b 60%, #551a8b 61%, #ffffff 100%);
            margin-top:25px;

            >h3 {
                color:yellow;
                text-decoration:bold;
                text-shadow:0 0 20px yellow;
            }
        }

        .btn-secondary:hover {
            box-shadow:0 0 10px #551a8b;
            background-color:#551a8b;
            background-image:none;
        }

        @media screen and (max-width:775px) {
            text-align:center;
        }

        @media screen and (max-width: 1661px) {
            .btn-secondary >h3 {
                font-size: 1.3em;
            }
        }

        @media screen and (max-width: 1412px) {
            .btn-secondary >h3 {
                font-size: 1em;
            }
        }


    }

    #dabColors {
        height:20%;
        border-bottom-left-radius:20px;
        color:yellow;
        text-align:center;
        border-top-style:groove;

        >h1 {
            font-size:1.5em;
        }
    }

    #jackpot{
        #jackpotNum{
            color:deeppink;
            font-size:3em;
            background: black;
            border-radius: 20px;
        }
    }

    #numbersCalled {
        height:465px;
        border-left-style:groove;
        border-top-style:groove;
        border-top-left-radius:20px;
        border-top-right-radius:20px;
        border-bottom-left-radius:0;
        box-shadow:0 0 20px black;
        color:yellow;
        font-size:1.5em;
        text-align:center;

        ::-webkit-scrollbar {
            width: 12px;
        }

        /* Track */
        ::-webkit-scrollbar-track {
            -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
            -webkit-border-radius: 10px;
            border-radius: 10px;
            color: deeppink;
        }

        ::-webkit-scrollbar-thumb {
            -webkit-border-radius: 10px;
            border-radius: 10px;
            background: rgba(255,20,147,0.8);
            -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
        }
        ::-webkit-scrollbar-thumb:window-inactive {
            background: rgba(255,20,147,0.4);
        }

        #lastNumber {

            >p {
                color:deeppink;
                font-size:1.8em;
                text-shadow:0 0 20px deeppink;
                background:black;
                border-radius:20px;
                width: 70px;
                margin-left:auto;
                margin-right:auto;
            }
        }

        #numberList {
            width:80%;
            height: 60%;
            border-radius:20px;
            background:black;
            color:deeppink;
            margin-left:auto;
            margin-right:auto;
            overflow-y: auto;

            .numberItem{
                padding:7px;
                font-shadow:yellow;
            }

            @media screen and (max-width: 1124px){
                max-height: 225px;
            }
        }

        .btn.btn-reset, .btn.btn-refresh {
             width:150px;
             height:50px;
             border-radius:20px;
             box-shadow:0 0 20px black;
             background-color:#551a8b;
             background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #551a8b), color-stop(0.6, #551a8b), color-stop(0.61, #551a8b), color-stop(1, #ffffff));
             background-image: -moz-linear-gradient(center bottom, #551a8b 0%, #551a8b 60%, #551a8b 61%, #ffffff 100%);
             background-image: linear-gradient(to top, #551a8b 0%, #551a8b 60%, #551a8b 61%, #ffffff 100%);
             color:yellow;
             font-size:0.7em;
             margin-top: 7px;
        }

        .btn.btn-reset:hover, .btn.btn-refresh:hover {
             box-shadow:0 0 10px yellow;
             background-color:#551a8b;
             background-image:none;
        }

    }


    @media screen and (max-width: 1700px) {
        div#numberList {
            //width:100px;
        }
    }

    @media screen and (max-width:998px) {
        display:block;
        position:relative;
        top:-17px;
        border-radius:20px;
        text-align:center;
        height:100%;

        .component_container {
            width: 100%;

            #numbersCalled_container {
                width: 100%;
            }
            #chat_container {
                width: 100%;
            }
            #leaderboard_container {
                width: 100%;
            }
        }
    }


    @media screen and (max-height:856px) {
        position:relative;
        top:0;
    }

    @media screen and (max-width: 1400px) {
        .component_container{
            display: block;

            #chat_container {
                width:50%;
                float:right;
            }
            #numbersCalled_container {
                float: left;
                width:50%;
            }
            #leaderboard_container {
                clear: both;
                width: 100%;
                height:auto;
            }

        }

    }

    @media screen and (max-width: 1661px) {
        #leaderboard_container {
            font-size: 0.8em;
        }
    }

    @media screen and (max-width:558px) {

        .component_container {
            width: 100%;
            display: block;

            #numbersCalled_container {
                width: 100%;
                float: none;
            }
            #chat_container {
                width: 100%;
                float: none;
            }
            #leaderboard_container {
                width: 100%;
                float: none;
            }
        }
    }

}

