.admin {

  //background-color: #6d6d6d;
  background-color: #fff;

  .btn-group {
    display: inline-block;
  }

  .btn-group button {
    width: auto;
    height: 40px;
    border: none;
    background-color: #4444ee;
    color: #fff;
  }
}